<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />-->
<!--<script defer src="https://pyscript.net/alpha/pyscript.js"></script>-->
<!--<py-env>-->
<!--    - paths-->
<!--</py-env>-->

<body>
<h1>

<!--    {% for s in  stores %}-->
<!--         <li> name:  {{ s.name }}</li>-->
<!--    {% endfor %}-->
</h1>
<!--<py-script>-->
<!--  print('Hello World')-->
<!--</py-script>-->
<center>
<h1>
    Welcome to KELIN Office Admin System
</h1>
</center>

</body>
</html>